h1{
    font-size: 40px;
    color: black;
text-align: right;
margin-top: 200px;
margin-right: 50px;
}

h2{
    font-size: 30px;
    color: gray;
text-align: right;
margin-top: 10px;
margin-right: 50px;
}
main{
    border: 5px black solid;
    background-image
}