a{
    color: black;
    Text-decoration: none;
}
a {
    background-color:aquamarine;
}
p{background-color:black;}
.pink-background{
background-color: hotpink

}
#my-name{
    color:white;
    background-color: royalblue;
    padding: 10px;
}
