@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

header {
    background-color: #6369D1;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-column: 1 / 5;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;

}

.homepage {
    background-color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    color: black;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    gap: 50px;
}

.logo {
    width: 100px;
    grid-column: 1;
    grid-row: 1;
}

.link1 {
    grid-column: 1;
    grid-row: 1;
}

.links1,
.links2,
.links3 {
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    justify-self: center;
    align-self: center;
    color: black;
}

.links1:hover,
.links2:hover,
.links3:hover {
    color: #60E1E0;
}



.hero {
    width: 100%;
    height: auto;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    margin-bottom: 0;
    margin-top: 0;
}

.phome {
    grid-row: 5;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    padding: 2em;
    background-color: #C6AC8F;
    border-radius: .5em;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    justify-self: center;
    align-self:center;
}

.img1 {
    grid-row: 5/6;
    grid-column: 3/4;
    width: 100%;
    justify-self: center;
    align-self: center;
}

footer {
    background-color: #6369D1;
    padding: 10px;
    text-align: center;
    grid-column: 1 / 5;
    grid-row: 6;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
}

/* our product page */

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.jacket {
    width: 100%;
    grid-column: 3;
    grid-row: 2;
    justify-self: center;  
    align-self: center; 
}

.board {

    width: 100%;
    grid-column: 3;
    grid-row: 3;
    justify-self: center;  
    align-self: center; 

}
.p-product{
    grid-column: 1/3;
    font-size: 2em;
    margin-left: 2em;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    justify-self: center;
    align-self:center;
}
.p-h{
    grid-column: 1/3;
    justify-self: center;
    align-self:center;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color:#C6AC8F;
    color: #6369D1;
    border-radius: .5em;
    padding: .5em; 
}
/* Our mission */

.b-m{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
    margin: 0 auto;
}
.i1-m{
    grid-column: 1;
    grid-row: 2;
    width: 500px;
    margin: 2em;
    border-radius: 25%;
    border:#C6AC8F solid 1.5em;
   
}
.i2-m{
    width: 500px;
    grid-column: 2;
    grid-row: 3;
    margin: 2em;
    border-radius: 25%;
    border:#C6AC8F solid 1.5em;
}
.p-m{
    grid-column: 1;
    grid-row: 3;
    margin: 2em;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    justify-self: center;
    align-self:center;
}
ul{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self:center;
    font-size: 5em;
    padding-left: 1.2em;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
}
