@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

header {
    background-color: #6369D1;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    grid-column: 1 / 4;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
   
}

.homepage {
    background-color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    color: black;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    height: 100vh; 
}

.logo {
    width: 100px;
    grid-column: 1;
    grid-row: 1;
}

.link1 {
    grid-column: 1;
    grid-row: 1;
}

.links1, .links2, .links3 {
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    justify-self: center;
    align-self: center;
    color: black ;
}


.hero {
    width: 100%;
    height: auto;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    justify-self: center;
    margin-bottom: 20px; 
}

.phome {
    grid-row: 5;
    grid-column: 1/3;
    justify-self: center; 
    align-self: center;  
    font-size: 1.2em; 
    padding: 2em;
    background-color: #C6AC8F;
    border-radius: .5em;
}

.img1 {
    grid-row: 5/6;
    grid-column: 3/4;
    width: 100%;
    justify-self: center; 
    align-self: center; 
}

footer {
    background-color: #6369D1; 
    padding: 10px; 
    text-align: center;
    grid-column: 1 / -1; 
    grid-row: 6;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: bold;
}



